body{
    overflow: hidden;
    
    background-color:#060A35;
}

#navwrapper{
    height:50px
}

#navwrapper:hover #navbar{
margin-top: 0;
transition: 0.3s ease-in-out;
}

#navbar{
    margin-top: -100px;
    transition: 0.3s ease-in-out;
}


