body{
    margin:0;
    background-color: #060B35;
    font-family: 'Noto Sans JP', sans-serif;
    color: white;
    font-size: 25px;
}
lottie-player{
    position: absolute;
    top: 0;
    left: -100px;

}

h1 {
    font-weight: 100;
    background-image: linear-gradient(45deg, #5590E8, #060B35 70%);
    background-size: 100% 30%;
    background-repeat: no-repeat;
    background-position: 10px bottom;
}
p{
    margin:25px 0 25px 1em;
}

.wrapper {
    display: flex;
  }

.underlogotop{
    width: 675px;
    margin-top: 450px;
    padding-left: 100px;
}
.flexcontents{
    flex: 1;
    margin:100px 150px 100px 100px;
}

.flexcontents img{
    width: 100%;
    clip-path : polygon(0px 0px ,10% 100% ,100% 100% ,90% 0px );
    margin: 0 0 50px 50px;
    }

.imgbox-index{
    
    background-image: linear-gradient(90deg, #CE9E41, #060B35 70%);
    background-position: 0px 50px;
    background-repeat: no-repeat;
    clip-path : polygon(0px 0px ,10% 100% ,150% 100% ,150% 0px );
}


