@media only screen and (min-width:1025px){

    body{
        /* background-image: url(/img/background.jpg); */
        background-size: cover;
        color: white;
        font-family: 'Noto Serif JP', serif;
    overflow: hidden;
        user-select: none;
        margin: 0;
    }
    
    #navbar{
        background-color: black;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
    text-align: right;
    height: 55px;
    z-index: 99999;
    }
    #navbar ul{
        margin-right: 60px;
        display: block;
        list-style-type: none;
        color: white;
    }
    
    #navbar ul li{
        display: inline-block;
        margin-left: 50px;
    }
    
    #navbar a{
        color: white;
        text-decoration: none;
    }
    #wrapall-index-pc{
        margin:50px 50px;
        height: 85vh;
    
    }
    
    .logo{
        position: absolute;
        height: 50%;
        /* display: block; */
        top:50px;
        left:0;
        background-color: black;
        
    }
    
    #wrapall-index-pc h1{
        font-weight: normal;
        color: lime;
    }
    
    #wrapall-index-pc p{
        font-weight: 100;
    }
    
    .box-picture img{
        height: 55vh;
        vertical-align:top;
    }
    
    .contents-box{
        position: absolute;
        margin: 50px 50px 0 0;
        border: solid 3px royalblue;
        border-radius: 5px 5px 0 0;
        background-color: black;
        filter: brightness(90%);
        
    }
    
    .contents-box:hover{
        filter: brightness(110%);
        
    }
    
    .data{
        color: white;
        margin: 0px 0 0 0;
        background-color: royalblue;
        user-select: none;
        cursor: move;
    }
    
    .data .material-icons{
        font-size: inherit;
    }
    
    
    .contents-box h1{
        margin: 0 0 0 0;
    }
    
    .box{
        margin: 20px 20px;
    }
    
    .box-sentence{
        padding-left: 1em;
    }
    
    .bar{
        margin: 0;
        padding-left: 5px;
        font-size: 14px;
        background-color: lightgray;
        color: black;
        user-select: none;
    }
    
    .contents-box ul{
        list-style-type: none;
        margin: 0;
        padding: 0 0 0 10px;
    }
    
    .contents-box li{
        display: inline;
        margin-right: 5px;
        cursor: default;
    }
    
    .contents-box li:hover{
    background-color: darkblue;
    color:white;
    }
    
    #about{
        top: 20vh;
        left: 30vw;
        z-index: 300;
        border: solid 3px royalblue;
    }
    #about .data{
        
        background-color: royalblue;
    }
    #dokudami2{
        top: 0;
        left: 50vw;
        z-index: 89;
        
        border: solid 3px midnightblue;
    }
    
    #dokudami2 .data{
        background-color: midnightblue;
    }
    
    #activity{
        top:10vh;
        left:2vw;
        z-index: 94;
        border: solid 3px midnightblue;
    }
    
    #activity .data{
        background-color: midnightblue;
    }
    #recruit{
        top:33vh;
        left:47vw;
        z-index: 101;
        border: solid 3px midnightblue;
    }
    
    #recruit .data{
        background-color: midnightblue;
    }
    
    #join{
        top: 30vh;
        left:55vw;
        z-index: 80;
        border: solid 3px midnightblue;
    }
    
    #join .data{
        background-color: midnightblue;
    }
    
    #members{
        top: 22vh;
        left:26vw;
        z-index: 80;
        border: solid 3px midnightblue;
    }
    
    #members .data{
        background-color: midnightblue;
    }
    .ope{ 
        font-size: 20px;
        float: right;
        margin-right: 0.2em;
        cursor: default;
        border-radius: 2px;
        height: 20px;
    }
    .ope:hover{ 
        background-color: #FFFFFF;
        color: royalblue;
    }
    
    #taskbar{
        width: 100vw;
        height: 40px;
        background-color: #000000;
        /* background-image: url(/img/logo.png); */
        background-size: cover;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 9999;
        
    }
    #taskbar ul{
        list-style-type: none;
        margin:3px 0 3px 0;
        padding-left: 100px;
    }
    
    #taskbar li{
        display: inline-block;
        border: solid 1px black;
        border-radius: 2px;
        inline-size: 150px;
        padding: 5px 0 5px 0;
        background-color: midnightblue;
        margin-right: 5px;
    
    }
    #taskbar li:hover{
        filter: brightness(130%);
    }
    
    #taskbar .material-icons{
        font-size: inherit;
    }
    
    #picbefore{
        display: table;
    position: absolute;
    top:43px;
    left:0px;
    height: calc(100% - 43px);
    }
    
    #picbefore .material-icons{
        display: table-cell;
        font-size: 50px;
        vertical-align: middle;
        color: white;
        
    }
    
    #picbefore .material-icons:hover{
        background: linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,0)); 
        color: gray;
    }
    
    #picnext{
        
        display: table;
    position: absolute;
    font-size: 50px;
    top:43px;
    right:0px;
    height: calc(100% - 43px);
    }
    
    #picnext .material-icons{    
        display: table-cell;
        font-size: 50px;
        vertical-align: middle;
        color: white;
        
    }
    
    #picnext .material-icons:hover{
        background: linear-gradient(to left, rgba(0,0,0,0.7), rgba(0,0,0,0)); 
        color: gray;
    }
    
    #membefore{
        z-index: 99999;
        display: table;
    position: absolute;
    top:43px;
    left:0px;
    height: calc(100% - 43px);
    }
    
    #membefore .material-icons{
        
        display: table-cell;
        font-size: 50px;
        vertical-align: middle;
        color: white;
        
    }
    
    #membefore .material-icons:hover{
        background: linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,0)); 
        color: gray;
    }
    
    #memnext{
        z-index: 99999;
        display: table;
    position: absolute;
    font-size: 50px;
    top:43px;
    right:0px;
    height: calc(100% - 43px);
    }
    
    #memnext .material-icons{    
        display: table-cell;
        font-size: 50px;
        vertical-align: middle;
        color: white;
        
    }
    
    #memnext .material-icons:hover{
        background: linear-gradient(to left, rgba(0,0,0,0.7), rgba(0,0,0,0)); 
        color: gray;
    }
    
    .box-sentence button{
        font-family: 'Noto Serif JP', serif;
        font-size: 20px;
        font-weight: bold;
        display: block;
        margin: auto;
        padding: 0.7rem 3rem;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        text-align: center;
        text-decoration: none;
        letter-spacing: 0.1em;
        /* border-radius: 0.5rem; */
        border-style: none;
        color: white;
        background-size: auto auto;
    background-color: midnightblue;
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 10px, rgba(0, 0, 0, 1) 10px, rgba(0, 0, 0, 1) 20px );
    }
    .box-sentence button:hover{
        background-color: royalblue;
    }
    
    .box-sentence button span{
        /* background-color: black; */
        padding:3px 6px;
    }
    
    .box-picture button{
        font-family: 'Noto Serif JP', serif;
        font-size: 20px;
        font-weight: bold;
        display: block;
        margin: 10px auto;
        padding: 0.7rem 3rem;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        text-align: center;
        text-decoration: none;
        letter-spacing: 0.1em;
        /* border-radius: 0.5rem; */
        border-style: none;
        color: white;
        background-size: auto auto;
    background-color: midnightblue;
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 10px, rgba(0, 0, 0, 1) 10px, rgba(0, 0, 0, 1) 20px );
    }
    .box-picture button:hover{
        background-color: royalblue;
    }
    
    .box-picture button span{
        /* background-color: black; */
        padding:3px 6px;
    }
    
    .cardbox{
        position: absolute;
        height: 55vh;
        width: 91vh;
        top:43px;
        
    }
    .innercard{
        position: absolute;
        margin:8.021978021% 7.802197802% 8.021978021% 7.802197802%;
        width: 84.395604395%;
        height: 73.454545454%;
    }
     
    #profile_icon{
        width: 19.53125%;
        height: auto;
        border-radius: 50%;
    }
    .textbox{
        position: absolute;
        top: 0;
        left: 45%;
        width: 54.9479166667%;
        height: 100%;
    }
    .memname_wrapper{
        font-size: 5.5vh;
        margin-top: 3vh;
    }
    .memtwitter_wrapper{
        font-size:  1.7vh;
        margin-top: -2vh;
    }
    
    #membertwitter{
        color: white;
        text-decoration: none;
        
    }
    .memmessage_wrapper{
        margin-top: 3vh;
        font-size: 1.7vh;
    }
    
    .comment_green{
        color: green;
        
        font-size: 1.7vh;
    }
    .hidden_pc{
        display: none;
    }

}

@media only screen and (max-width:1024px){
    .hidden_sm{
        display: none;
    }
}