<script src="/js/index-reloadtop.js"></script>
<div class="wrapper">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <lottie-player id="lottie-logo" src="https://assets7.lottiefiles.com/packages/lf20_mycuxmwz.json"
        background="transparent" speed="1" style="width: 800px; height: 450px;" autoplay></lottie-player>
    <div class="underlogo underlogotop">
        <h1 id="indextop">nitech Createとは</h1>

        <p id="indexsent1">-メンバーを募って何かをつくったり</p>
        <p id="indexsent2">-つくったものを共有したり</p>
        <p id="indexsent3">-発見をシェアしたり</p>
        <p id="indexsent4"><br></p>
        <p id="indexsent5">...そういう名工大生のゆるいあつまりです</p>
    </div>
    <div class="flexcontents">
        <div class="imgbox-index" id="imgbox1">
            <img id="img1" src="/img/dokudami.jpg" alt="">
        </div>

        <div class="imgbox-index" id="imgbox2">
            <img id="img2" src="/img/LT0.png" alt="">
        </div>
    </div>
</div>

<div class="contents" id="contents-index">
    <canvas id="createjs"></canvas>

    <script src="/js/createindex.js"></script>
</div>

<div id="maincontent-index1">
    <h1>
        活動情報
    </h1>

    <div class="sentence">

        <h2>結成以来ずっとDiscord上で活動しています！</h2>

        <p>発見したものをシェアしたり、わからないことを質問したり、</p>
        <p>つくったものを共有したり、授業のことを話したり、</p>
        <p>LTと呼ばれるプレゼン大会を開いたり...</p>

        <p><br>プログラミング初心者からコンパイラや自作言語を作る人、</p>
        <p>機械学習を活用する人、Unityでゲーム作る人、</p>
        <p>3Dモデル作る人、デザインを作る人...</p>

        <p><br>おのおの好きなことをまったりやっています。</p>
        <p>メンバーのノリがいいので、「○○やろうよ！」って話があれば</p>
        <p>だいたいのことはやると思います。</p>

    </div>
</div>

<div id="maincontent-index2">
    <h1>
        参加方法
    </h1>

    <div class="sentence">
        <h2>メンバーにメッセージを送ってね！</h2>
        <p>メンバー紹介から、好きな人のTwitterにDMを送ってください。</p>
        <p>Discordはアカウントを作っておいてくれると助かります！</p>
        <p><br>「自分何にもできないからな～」って人！！！大歓迎です！！！</p>
        <p>質問してくれれば、なんでもお答えします！</p>
        <p>一緒に学んで、できることを増やしていきましょう！</p>
        <p><br>「DM送るのが怖いよ！」っていう方は、右上のお問い合わせから</p>
        <p>必要事項を記入の上、フォームを送信してください！</p>
        <p>こちらからコンタクトを取らせていただきます。</p>

    </div>
</div>

<div class="contents" id="contents-index2">
    <div id="index2-contents">
        <h1>メンバー</h1>
        <!-- スライダー全体を括るメインコンテナ -->
        <div class="swiper-container">
            <!-- 全スライドをまとめるラッパー -->
            <div class="swiper-wrapper">
                <!-- 各スライド -->
                <div class="swiper-slide">Slide 1</div>
                <div class="swiper-slide">Slide 2</div>
                <div class="swiper-slide">Slide 3</div>
                ...
            </div>

            <!-- ページネーションを表示する場合 -->
            <div class="swiper-pagination"></div>

            <!-- 前後スライドへのナビゲーションボタン(矢印)を表示する場合 -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

            <!-- スクロールバーを表示する場合 -->
            <div class="swiper-scrollbar"></div>
        </div>
        <script src="/js/swiper-menber.js"></script>
    </div>
</div>

<script src="/js/indexreveal.js"></script>