<div class="wrapper">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <lottie-player id="lottie-logo" src="https://assets7.lottiefiles.com/packages/lf20_mycuxmwz.json" background="transparent" speed="1"
        style="width: 800px; height: 450px;"autoplay></lottie-player>
    <div class="underlogo underlogotop">
        <h1 id="indextop">nitech Createとは</h1>

        <p id="indexsent1">-メンバーを募って何かをつくったり</p>
        <p id="indexsent2">-つくったものを共有したり</p>
        <p id="indexsent3">-発見をシェアしたり</p>
        <p id="indexsent4"><br></p>
        <p id="indexsent5">...そういうゆるいあつまりです</p>
    </div>
    <div class="flexcontents">
        <div class="imgbox-index" id="imgbox1">
            <img id="img1" src="/img/dokudami.jpg" alt="">
        </div>

        <div class="imgbox-index" id="imgbox2">
            <img id="img2" src="/img/LT0.png" alt="">
        </div>
    </div>
</div>

<div class="contents" id="contents-index">
    <canvas id="createjs"></canvas>
</div>

<script src="/js/indexreveal.js"></script>
<script src="/js/createindex.js"></script>