<div id="wrapall-index">
    <img class="logo" src="/img/logo.png" alt="">

    <div class="contents-box" id="about" data-target="#list-about">
        <p class="data"><span class="material-icons">wysiwyg</span>data.about <span class="ope"><span
                    class="material-icons">close</span></span></p>
        <div class="box">

            <h1>nitech Createとは</h1>
            <div class="box-sentence">
                <p>名古屋工業大学の、「何か作りたいなぁ」と考えている人が集まった集団です。</p>
                <p>「対面とかめんどくさい、オンラインで活動したい」</p>
                <p>「仲間はほしいけど、定期的な集まりとかはめんどくさい」</p>
                <p>「自分のしたいこともあるし、自分のペースで気楽にやっていきたい」</p>
                <p>そんな人達をターゲットにした集団になっています。</p>
            </div>
        </div>
    </div>

    <div class="contents-box" id="dokudami" data-target="#list-picture1">
        <p class="data"><span class="material-icons">photo</span>data.picures[<span id="picnum">0</span>] - <span id="picpath">dokudami.jpg</span>
            <span class="ope"><span class="material-icons">close</span></span></p>
        <div class="box-picture">
            <div class="bar">
                <ul>
                    <li>File(<u>F</u>)</li>
                    <li>Edit(<u>E</u>)</li>
                    <li>View(<u>V</u>)</li>
                </ul>
            </div>
            <div id="picbefore">
                <span class="material-icons" >
                    navigate_before
                </span>
            </div>

            <div id="picnext">
                <span class="material-icons" >
                    navigate_next
                </span>
            </div>

            <img id="indexpic" draggable="false" src="/img/dokudami.jpg" alt="">
        </div>
    </div>

    <div class="contents-box" id="activity" data-target="#list-activities">
        <p class="data"><span class="material-icons">wysiwyg</span>data.activities<span class="ope"><span
                    class="material-icons">close</span></span></p>
        <div class="box">
            <h1>活動内容</h1>
            <div class="box-sentence">
                <p>結成以来Discord上で活動しています。ボイスチャットはする人もしない人もいます。</p>
                <p>お互いの本名すら知りません。それ以前に顔も知らないひともいます。</p>
                <p>基本、好きな時に好きなことをしています。特にミーティングなども行っていません。</p>
                <p>困ったときは質問したら、誰かが答えてくれています。学校のことでも、技術的な問題でも。</p>
                <p>「○○作ろう！」みたいな話をすると、皆ノリがいいので一緒に作れます。</p>
                <p>「○○を発見した！」みたいな話をすると、何かしら反応が返ってきます。</p>
                <p>「このイベント出ようよ！」みたいな話をすると、一緒に出る人が見つかります。</p>
                <p>たまに"LT"と呼ばれるイベント(プレゼン大会)を任意参加で開いています。</p>
                <button onclick="window.open('/activities','_blank')"><span>アクティビティに移動</span></button>
            
            </div>
        </div>
    </div>

    <div class="contents-box" id="recruit" data-target="#list-recruit">
        <p class="data"><span class="material-icons">wysiwyg</span>data.recruit<span class="ope"><span
                    class="material-icons">close</span></span></p>
        <div class="box">
            <h1>人員募集</h1>
            <div class="box-sentence">
                <p>現在、メンバーを募集中です。</p>
                <p>「何かを作りたいけど、人付き合いはめんどくさい」</p>
                <p>「進捗や情報を共有する仲間が欲しい」</p>
                <p>「自分で作りたい物があるけど、1人は寂しい」</p>
                <p>そんな名工大生を歓迎しています。もちろん初心者の方でもまったく問題ありません。</p>
            </div>
        </div>
    </div>

    <div class="contents-box" id="join" data-target="#list-join">
        <p class="data"><span class="material-icons">wysiwyg</span>data.join<span class="ope"><span
                    class="material-icons">close</span></span></p>
        <div class="box">
            <h1>参加方法</h1>
            <div class="box-sentence">
                <p>メンバーの誰かにTwitterでダイレクトメッセージを送ってください。</p>
                <p>一応名工大に入学する予定のある/既に名工大に通っていることが条件です。</p>
                <p>「知らない人にDMを送るのは怖いよ！」という方は</p>
                <p>このサイトのフォームにTwitterアカウントを書いて送信してください。</p>
                <p>こちらからダイレクトメッセージを送信させていただきます。</p>
                <button onclick="window.open('/forms/join','_blank')"><span>フォームに移動</span></button>
            </div>
        </div>
    </div>

    <div class="contents-box" id="members" data-target="#list-members">
        <p class="data"><span class="material-icons">photo</span>data.active.members[<span id="memnum">0</span>] - <span id="memname">dokudami</span>
            <span class="ope"><span class="material-icons">close</span></span></p>
        <div class="box-picture">
            <div class="bar">
                <ul>
                    <li>File(<u>F</u>)</li>
                    <li>Edit(<u>E</u>)</li>
                    <li>View(<u>V</u>)</li>
                </ul>
            </div>
            <div id="membefore">
                <span class="material-icons" >
                    navigate_before
                </span>
            </div>

            <div id="memnext">
                <span class="material-icons" >
                    navigate_next
                </span>
            </div>

            <img id="indexmem" draggable="false" src="/img/mem_dokudami.png" alt="">
            <button onclick="window.open('https\:\/\/twitter.com/dokudamichang','_blank')"><span>Twitterに移動</span></button>
        </div>
    </div>

</div>

<div id="taskbar">
    <ul>
        <li id="list-about" data-target="#about"><span class="material-icons">wysiwyg</span>about</li>
        <li id="list-picture1" data-target="#dokudami"><span class="material-icons">photo</span>picture1</li>
        <li id="list-activities" data-target="#activity"><span class="material-icons">wysiwyg</span>activities</li>
        <li id="list-recruit" data-target="#recruit"><span class="material-icons">wysiwyg</span>recruit</li>
        <li id="list-join" data-target="#join"><span class="material-icons">wysiwyg</span>join</li>
        <li id="list-members" data-target="#members"><span class="material-icons">photo</span>members</li>
    </ul>
</div>
<script src="/js/drag.js"></script>