<div class="wrapper">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <lottie-player id="lottie-logo" src="https://assets10.lottiefiles.com/packages/lf20_aihxqqwk.json"
        background="transparent" speed="1" style="width: 800px; height: 450px;" autoplay></lottie-player>
    <div class="underlogo underlogotop">
        <h1>nitech Createとは</h1>
        <p>-オンライン授業だけで一日が終わるのが悲しくなり</p>
        <p>-文化的な生活をしたいと思い</p>
        <p>-暇だったので</p>
    </div>
    <div class="flexcontents">
        <div class="imgbox-index">
            <img src="/img/dokudami.jpg" alt="">
        </div>
    </div>


</div>

<script src="/js/indexreveal.js"></script>