<div id="wrapall-index">
    <img class="logo" src="/img/logo.svg" alt="">
    
    <br style="clear:both;"/>
    <div id="about">
        <p class="data"><span class="material-icons">wysiwyg</span>data.about</p>
        <div class="box">
            <h1>nitech Createとは</h1>
            <p>この団体は</p>
        </div>
    </div>
    <br style="clear:both;"/>
</div>