<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <script src="/js/three.min.js"></script>
  <script src="/js/index.js"></script>
  <link rel="stylesheet" href="/css/layout.css">
</head>
<body>
  <%- body %>
</body>
</html>