<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <script src="/js/three.min.js"></script>
  <script src="/js/index.js"></script>
  <link rel="stylesheet" href="/css/layout.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
</head>
<body>
  <%- body %>
</body>
</html>