<% if(page.path=="forms/join/index.html" ){ %>
    <link rel="stylesheet" href="/css/forms.css">
    <!-- forms/join -->
    <nav>

    </nav>
    <div class="form">
        <iframe
            src="https://docs.google.com/forms/d/e/1FAIpQLSfQn-Z2jEKjvegR_ZLirFvnt9cyZ_2AxImL3osAra42IKcBjg/viewform?embedded=true"
            width="640" height="622" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>

    </div>
<% }else if(page.path=="activities/index.html"){ %>
<!-- activities -->
<h1>Hello</h1>
<% } %>